.gl-alert{ @alert_options, role: 'alert', class: [base_class, @alert_class], data: @alert_data }
  - if @show_icon
    = sprite_icon(icon, css_class: icon_classes)
  - if @dismissible
    %button.btn.gl-dismiss-btn.btn-default.btn-sm.gl-button.btn-default-tertiary.btn-icon.js-close{ type: 'button',
      aria: { label: _('Dismiss') },
      class: @close_button_class,
      data: @close_button_data }
      = sprite_icon('close')
  .gl-alert-content{ role: 'alert' }
    - if @title
      %h4.gl-alert-title
        = @title
    - if body?
      .gl-alert-body
        = body
    - if actions?
      .gl-alert-actions
        = actions
